body {
    background-color: blanchedalmond;
}

#bannerName{
    text-align: center;
    background-color: blanchedalmond;
}

.charSelect {
    width: 300px;
    border:2px solid black;
    border-radius: 4px; 
}
.enemyImg {
    width: 200px;
    border:2px solid black;
    border-radius: 4px; 
}

h2{
    text-align: center;
}
.selectImg{
    padding-top: 10px;
    text-align: center;
}

#gameplayArea {
    display: none;
    text-align: center;
}

#deathScreen{
    display: none;
    text-align: center;
}

#winScreen{
    display: none;
    text-align: center;
}

.healthPotion{
    width:150px;

}

progress{
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width:350px;
    text-align: center;
    content: attr(value)'%';
}



.enemyHealth{
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width:200px;
    height:20px;
}

