body {
    background-color: blanchedalmond;
}

#bannerName{
    text-align: center;
    background-color: blanchedalmond;
}

img {
    width: 300px;
    border:2px solid black;
    border-radius: 4px;
}

h2{
    text-align: center;
}
.selectImg{
    padding-top: 10px;
    text-align: center;
}

#gameplayArea {
    display: none;
    text-align: center;
}

#deathScreen{
    display: none;
    text-align: center;
}

#winScreen{
    display: none;
    text-align: center;
}
