body {
    background-color: blanchedalmond;
}

#bannerName{
    text-align: center;
    background-color: blanchedalmond;
}

.charSelect {
    width: 300px;
    border:2px solid black;
    border-radius: 4px; 
}
.enemyImg {
    width: 200px;
    border:2px solid black;
    border-radius: 4px; 
}

h2{
    text-align: center;
}
.selectImg{
    padding-top: 10px;
    text-align: center;
}

#gameplayArea {
    display: none;
    text-align: center;
}

#deathScreen{
    display: none;
    background-image: url("../images/youDied.jpg");
    width:100%;
    height: 100%;
    max-height:100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.healthPotion{
    width:150px;
}

progress{
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width:350px;
    text-align: center;
    content: attr(value)'%';
}



.enemyHealth{
    -webkit-appearance: none;
    appearance: none;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width:200px;
    height:20px;
}

#winScreen {
    background-image: url("../images/throne.jpg");
    width:100%;
    height: 100%;
    max-height:100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    text-align: center;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*.charSelect, #bannerName, #hrBar, #charSelectScreen, #winScreen {
    display: none;
}*/

#winRestartText, #deathScreen{
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}

/*#playerStats{
    border:2px solid black;
    border-radius: 4px; 
}
*/
p{
    margin-bottom: 4px;
}

#infographic{
    width:100px;
}